JanumiCode/n8n/workflows/phase-3-workflow.json
{
  "id": "phase-3-workflow-001",
  "name": "Phase 3 - System Specification",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "phaseId": "3",
        "subPhaseId": "system_specification",
        "agentRole": "technical_expert",
        "artifactRefs": "phase-2-functional-requirements",
        "governingConstraints": "{}",
        "requiredOutput": "{}",
        "summaryContext": "Requirements from Phase 2"
      },
      "id": "context-builder-1",
      "name": "Build System Context",
      "type": "n8n-nodes-base.contextBuilder",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "http://localhost:11434/api/generate",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "model",
              "value": "ornith:35b-q4_K_M"
            },
            {
              "name": "prompt",
              "value": "={{ $json.stdinText }}"
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        }
      },
      "id": "http-request-1",
      "name": "System Specification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "action": "write",
        "recordType": "system_specification",
        "content": "={{ $json.response }}",
        "authorityLevel": 5,
        "phaseId": "3",
        "subPhaseId": "system_specification"
      },
      "id": "governed-stream-1",
      "name": "Write System Specification",
      "type": "n8n-nodes-base.governedStream",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "artifactType": "system_specification",
        "artifactContent": "={{ $json.content }}",
        "phaseId": "3"
      },
      "id": "invariant-checker-1",
      "name": "Validate System Specification",
      "type": "n8n-nodes-base.invariantChecker",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "phaseId": "3",
        "artifactIds": "={{ $json.recordId }}",
        "schemaValid": true,
        "invariantsPassed": true,
        "reasoningReviewPassed": true,
        "consistencyPassed": true,
        "domainAttested": true,
        "verificationEnsemblePassed": true,
        "humanApproved": false
      },
      "id": "phase-gate-evaluator-1",
      "name": "Phase 3 Gate",
      "type": "n8n-nodes-base.phaseGateEvaluator",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "content": "Phase 3 complete. Please review system specification and approve.",
        "options": {}
      },
      "id": "chat-1",
      "name": "Human Approval Gate",
      "type": "n8n-nodes-base.chat",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build System Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build System Context": {
      "main": [
        [
          {
            "node": "System Specification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Specification": {
      "main": [
        [
          {
            "node": "Write System Specification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write System Specification": {
      "main": [
        [
          {
            "node": "Validate System Specification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate System Specification": {
      "main": [
        [
          {
            "node": "Phase 3 Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 3 Gate": {
      "main": [
        [
          {
            "node": "Human Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1"
}
